
@{ ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (TempData["ErrorMessage"] != null)
{
    <p style="color: red;">@TempData["ErrorMessage"]</p>
}
<div class="alert alert-success">
    Mua hàng không thành công.

</div>
<a href="/Home/Index" style="float:right;" class="btn btn-danger">Quay Lại Trang Chủ</a>
